{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <h2><a class="article-title"> Select Tables </a></h2>
        </div>
    </article>
    <form action="/select" method="post">
    <select name="input">
        <option>Select tables:</option>
        {% for pro in tables %}
            <option> {{pro.name}}</option>
        {% endfor %}
    </select>
    <input type="submit">
    </form>
    

{% endblock content %}